*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased !important;
  background-color: #5636D3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
